.Box-row .Box-row-container {
   > .Row-actions {
      display: none !important;
   }
   > .Row-reorder {
      display: none !important;
   }
   &:hover {
      > .Row-actions {
         display: flex !important;
      }
      > .Row-reorder {
         display: block !important;
      }
   }
}

.Todos-icon {
   > .Todos-hover {
      display: none !important;
   }
   > .Todos-opened,
   .Todos-closed {
      display: block !important;
   }
   &:hover {
      cursor: pointer;
      > .Todos-hover {
         display: block !important;
      }
      > .Todos-opened,
      > .Todos-closed {
         display: none !important;
      }
   }
}

.text-strikethrough {
   text-decoration: line-through !important;
}

.color-bg-transparent {
   background-color: transparent !important;
}

.Modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   z-index: 1000;

   .Modal--overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      background-color: rgba($color: var(--color-canvas-default), $alpha: 0.48);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
   }
}

// .Item-info--modal {
//    justify-content: flex-end !important;
//    .Item-info--container {

//    }
// }

text.month-name,
text.calendar-contributions-map-legend-text,
text.day-initial {
   font-size: 11px;
   fill: inherit;
   font-family: Helvetica, arial, 'Open Sans', sans-serif;
   color: #666;
}

rect.day-cell:hover {
   stroke: #555;
   stroke-width: 1px;
}

.day-cell-tooltip {
   position: absolute;
   z-index: 9999;
   padding: 5px 9px;
   color: #bbb;
   font-size: 12px;
   background: rgba(0, 0, 0, 0.85);
   border-radius: 3px;
   text-align: center;
}

.day-cell-tooltip > span {
   font-family: Helvetica, arial, 'Open Sans', sans-serif;
}

.calendar-contributions-map {
   box-sizing: initial;
}

svg {
   overflow: visible !important;
}

.Box-header ~ div .Box-row:first-child {
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.Task-filters {
   .btn-link {
      color: var(--color-fg-subtle);
      &.selected {
         font-weight: 600;
         color: var(--color-fg-default);
      }
      &:hover {
         color: var(--color-fg-default);
         text-decoration: none;
      }
   }
}

.menu-item-danger,
.menu-item-danger.selected {
   color: var(--color-danger-fg) !important;
}

.menu-item-danger:hover,
.menu-item-danger[aria-selected='true'],
.menu-item-danger.navigation-focus,
.menu-item-danger.selected:hover,
.menu-item-danger.selected[aria-selected='true'],
.menu-item-danger.selected.navigation-focus {
   color: var(--color-fg-on-emphasis) !important;
   background: var(--color-danger-emphasis) !important;
}
